h1 {
  text-align: center;
}
th {
  font-weight: 800;
}
p {
  padding-top: 20px;
}

button {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}
.container {
  display: grid;
  padding-top: 30px;
}


